.box {
    background: red;
    height: 100px;
    width: 300px;
}
.box h1 {
    color: white;
}
.box h1:hover {
    color: black;
}
.box p {
    font-size: 20px;
}
.box-relative-container {
    background: green;
    width: 80%;
    height: 300px;
}
.box-relative {
    background: pink;
    width: 70%;
    height: 300px;
}
.box-relative p {
    Color: blue;
    font-size: 1em;
}
.em-container {
    font-size: 2em;
}
.em-container-2 {
    font-size: 2em;
}
